h1 {
    background-color:#ffffff;
    color: #000000;
    font-family:"Freestyle Script";
    font-weight: Bolder;
    text-align: Center;
    font-size: 50px;
    border: solid 5px;
    padding: 20px;
    width: 400px;
    height: 60px;
    margin:auto;
}
p {
    background-color:#f5d8ff;
    font-family:"Miriam Fixed";
    font-weight: bolder;
    text-align: Center;
    border:solid 5px;
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top:15px;
    padding: 20px;
}
a {
    font-family: "Andale Mono";
    font-weight: bolder;
    font-size: 20px;

}

body {
    background-color:#fefcfd ;
}

h2{
    font-family: "Miriam Fixed";
    font-size: 15px;
    text-align: Center;
    border:dotted 3px;
    width: 100px;
    height: 200px;
    margin: auto;
    margin-top:10px;
    padding: 30px
    float: initial;
    }


